.Card {
  display: flex;

  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  max-width: 410px;
  margin: 0 auto;
  padding: 0 2rem;
}

.Form {
  display: flex;

  flex-direction: column;

  width: 100%;
}

input {
  font-size: 1rem;

  position: relative;
  z-index: 1;

  overflow: hidden;

  margin-bottom: 2rem;
  padding: 1rem;

  border: 2px solid transparent;
  border-radius: 10px;
  outline: 0 !important;
  background-color: #eeeeee;

  @include transition();

  &:focus {
    z-index: 2;

    border-color: #6371c7;
  }
}

.Button {
  font-size: 1rem;
  font-weight: 500;

  display: block;

  padding: 1rem;

  cursor: pointer;

  color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #6371c7;

  @include transition();
  @include feature-to('hover') {
    &:hover {
      background-color: #4f5ba3;
    }
  }
}

.Logo {
  width: 50%;
  margin-bottom: 1rem;
}

.Error {
  background-color: red;
}
