/**
 * Layout
 * Styles to give layout
 */

.App {
  display: flex;

  flex-direction: column;

  min-height: 100vh;
}

// each view page
@import 'page';

// canvas
@import 'canvas';

// wrapper
@import 'wrapper';

// section
@import 'section';
